.photo{
    height: 100px;
    max-width: 100px;
}

.alignleft {
    /* text-align-last: justify; */
    text-align:justify;
}
@media screen and (max-width: 400px) {
    .alignleft {
      padding: 0 20px;
    }
  }
  

.flex {
    display:flex;
    justify-content: space-around ;
}